<div class="dashboard-grid-container row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {{#if blogPosts}}  
        {{#each blogPosts as |post|}}
            <div class="col blog-card-container ps-0" data-post-id="{{id}}">
                    <div class="blog-post-card card">
                        <a href="/blogpost/{{id}}">
                            <img src="{{thumbnail}}" class="card-img-top" alt="{{title}} Thumbnail" onerror="this.setAttribute('src', '/images/thumbnail.jpg')">
                            <div class="card-body">
                                <p class="card-title">{{title}}</p>
                                <small>{{format_date date_created}}</small>
                            </div>
                        </a>
                        <div class="card-footer text-body-secondary">
                            <div class="card-hover-container d-flex justify-content-center align-items-center g-5">
                                <button class="edit-post-btn btn" data-post-id="{{id}}">Edit</button>
                                <button class="delete-post-btn btn" data-post-id="{{id}}">Delete</button>
                            </div>
                            
                        </div>
                    </div>
            </div>
        {{/each}}
    {{/if}}
        <div class="no-posts flex-column d-none">
            <p>You have no blog posts.</p>
            <a href="/blogpost/new" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>
                Write a Post
            </a>
        </div>
</div>