<section class="container">
    <header class="mb-5">
        <div class="row">
            <div class="col-sm-8 col-md-6">
                <div class="form-floating">
                    <input id="blog-title" class="form-control" type="text" placeholder="Your title here" value="{{title}}">
                    <label for="blog-title">Title</label>
                </div>
                <br>
                <div class="form-floating mb-3">
                    <input id="blog-thumbnail" class="form-control" type="url" placeholder="Thumbnail URL" value="{{thumbnail}}">
                    <label for="blog-thumbnail">Thumbnail URL</label>
                </div>
                <img id="thumbnail" src="{{thumbnail}}" alt="Thumbnail could not load">
            </div>

        </div>
    </header>

    <article>
        <textarea id="blog-content" class="form-control" placeholder="Start writing..." value="{{content}}">{{content}}</textarea>
    </article>

    <br>

    {{#if newBlog}}
    <button class="post-blog-btn btn btn-primary btn-lg">Post</button>
    {{else}}
    <div class="d-flex align-items-center gap-4">
        <button class="update-blog-btn btn btn-primary btn-lg">Update</button>
        <a class="nav-link" href="/dashboard">Cancel</a>
    </div>
    {{/if}}

</section>